.container {
    position: relative;
    width: 70%;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 95%;
    padding: 1rem;
    left: 50%;
    translate: -50%;
}

.container-autor-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* blog_exibe */
.blog-exibe {
    margin: 10rem;
}

.blog-exibe h1 {
    text-align: center;
}

.blog-exibe p {
    text-align: justify;
    margin: 1rem;
    text-indent: 2rem;
}


@media screen and (max-width:600px) {
    .container {
        width: 100%;
    }
}