* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  margin: 1rem;
}

section {
  margin: 1rem;
}

header img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;

}

nav {
  margin: 2rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 18px;
  width: 100%;
}

li {
  margin: 1rem;
}

li a {
  color: rgb(32, 25, 25);
  padding: 1rem;
  text-decoration: none;
}

.container-carrossel {
  display: flex;
  justify-content: center;
}

.coluna01 {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  color: white;
}

.coluna01 img {
  margin: 0.5rem;
  width: 25%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sucesso {
  border: 1px solid #04AA6D;
  padding: 0.5rem;
  border-radius: 10px;
}

.sucesso:hover {
  background-color: #04AA6D;
  color: white;
}

.container-form form{
  display: flex;
  flex-direction: column;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

.form-item {
  margin: 1rem;
}

@media screen and (max-width:600px) {
  ul {
    justify-content: center;
  }

  .container-carrossel {
    width: 100%;
  }

  .coluna01 img {
    width: 100%;
  }

}