* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

header {
  display: flex;
  flex-direction: column;
}

main {
  margin: 1rem;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.leftcolumn {
  float: left;
  width: 72%;
  padding-left: 33rem;
  padding-right: 2rem;
  text-align: justify;
}

header img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;

}

ul {
  list-style-type: none;
  padding: 20;
  font-size: 18px;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(32, 25, 25);
  text-align: end;
  padding: 18px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-inner {
  margin-top: 6%;
}

.coluna01 {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  color: white;
}

.coluna01 img {
  margin: 0.5rem;
}