body{
    background-color: whitesmoke;
}
.img {
    width: 750px;
    height: 750x;
    display: block;
    margin: auto;


}

.texto {
    text-align: center;
    padding-right: 18rem;
    padding-left: 18rem;
    text-align: justify;
}

.texto1 {
    justify-content: center;
    padding-right: 18rem;
    padding-left: 18rem;
    text-align: justify;

}