<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  .img1 {
    width: 100%;
    margin-top: -25%;
    text-align: justify;
  }

  .img1,
  p {
    display: flex;
    align-items: flex-start;
    padding: 3%;
  }


  .img2 {
    margin-top: -5%;
    width: 100%;

    float: right;
    text-align: justify;

  }

  .img2,
  p {
    display: flex;
    align-items: flex-start;

  }

  .img3 {

    width: 100%;
    margin-top: -10%;
    text-align: justify;

  }


  .img3,
  p {
    display: flex;
    align-items: flex-start;
    padding: 3%;
  }

  img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }

  .texto {
    float: right;
    margin-top: 3%;


    font-size: 30px;
  }


  .r:link {
    text-decoration: none;
    color: white;
  }

  .r:visited {

    color: white;
  }
</style>


<body>

  <!---- Imagem Superior acima do Menu-->






  </div>

  <div class="texto">
    <h1>Quem Somos </h1>
  </div>
  <div class="img1">
    <img src="oooo.jpg" alt="target" width="40%" height="450">

    <p>
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.





    </P>

  </div>


  <div class="img2">

    <P>
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      epois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto deComeça a aceitar suas
      derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto deComeça a aceitar suas
      derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.

      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      epois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.







    </P>
    <img src="azu.jpg" alt="target" width="40%" height="600">


  </div>



  <div class="img3">
    <img src="cabure.jpg" alt="target" width="40%" height="450">

    <p>
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.
      Começa a aceitar suas derrotas com a cabeça erguida e olhos adiante, com a graça de um adulto e não com a tristeza
      de uma criança.
      Aprende a construir todas as suas estradas no hoje, porque o terreno do amanhã é incerto de
      Depois de algum tempo você aprende a diferença, a sutil diferença entre dar a mão e acorrentar uma alma. E você
      aprende que amar não significa apoiar-se. E que companhia nem sempre significa segurança. Começa a aprender que
      beijos não são contratos e que presentes não são promessas.





    </P>

  </div>




  </div>
</body>